body {
  margin: 0px;
}

#canvas {
  background: linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
  opacity: 1;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
}
